* {
    padding : 0;
    margin : 0;
}

body {
    background : white;
    color : black;
}

.box {
		border-radius : 2px;
		border: solid black 3px;
		display: inline-block;
}

#menu {
		width: 99%;
		height: 25px;
		border: none;
		text-align: center;
}

#game {
		width: 74%;
		height: 50vh;
}

#players {
		position: absolute;
		right: 0;
		height: 50%;
		width: 25%;
}